// app global css in SCSS form

@font-face {
    font-family: 'SUIT Variable';
    src: url('../assets/fonts/SUIT-Variable.ttf') format('truetype');
}

body {
    font-family: 'SUIT Variable', sans-serif;
    color: $grey-9;
}

.sppd-table {
    thead {
        position: sticky;
        top: 0;
        z-index: 1;

        background: $naver-dk;
        color: white;
    }

    th {
        font-weight: bold;
        font-size: 1.1em !important;
    }
}

::-webkit-scrollbar {
    width: 6px; /* width of the entire scrollbar */
    height: 6px;
}
::-webkit-scrollbar-track {
    background: $grey-6; /* color of the tracking area */
    border-radius: 3px;
}
::-webkit-scrollbar-thumb {
    background-color: $grey-9; /* color of the scroll thumb */
    border-radius: 2px; /* roundness of the scroll thumb */
}
