// app global css in SCSS form

@font-face {
    font-family: 'SUIT Variable';
    src: url('../assets/fonts/SUIT-Variable.ttf') format('truetype');
}

body {
    font-family: 'SUIT Variable', sans-serif;
    color: $grey-8;
}

.sb-table {
    thead {
        position: sticky;
        top: 0;
        z-index: 1;

        background: $base-dk;
        color: white;
    }

    th {
        font-weight: bold;
        font-size: 1.1em !important;
    }
}

.form-dialog {
    user-select: none;
}

// 크롬 자동 완성시 css 적용 x
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
	-webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
    width: 6px; /* width of the entire scrollbar */
    height: 6px;
}
::-webkit-scrollbar-track {
    background: $grey-6; /* color of the tracking area */
    border-radius: 3px;
}
::-webkit-scrollbar-thumb {
    background-color: $grey-9; /* color of the scroll thumb */
    border-radius: 2px; /* roundness of the scroll thumb */
}
