// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$dark: #1d1d1d;
$dark-page: #121212;

$primary: #6caf88;
$secondary: #6c72af;
$accent: #aa6caf;
$positive: #6caf88;
$negative: #af6c72;
$info: #6c93af;
$warning: #afaa6c;

// base https://quasar.dev/style/color-palette
// custom
$base-mlt: #cab09e;
$base-blt: #c1a38d;
$base-lt: #b8957d;
$base-bs: #af886c;
$base-dk: #a67b5b;
$base-bdk: #966e52;
$base-mdk: #866249;


.bg-base-bs {
    background: $base-bs !important;
}
.bg-base-dk {
    background: $base-dk !important;
}

$spacing-tn: 3px;
$spacing-sm: 5px;
$spacing-md: 10px;
$spacing-ml: 12px;
$spacing-lg: 15px;
$spacing-xl: 20px;

$logo-height: 30px;

